
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link href="~/css/Payment.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
</head>

<body>
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Success</h1>
        <p>We received your purchase request.</p>
        <br />
        <a class="text-success" asp-action="Index" asp-controller="Home">Return To Home</a>
    </div>
</body>
</html>