@model BookModelView 
@{
    ViewData["Title"] = "RoomDetails";
    Layout = "~/Areas/Customer/Views/_Layout.cshtml";
}


<!-- Rooms banner start -->
<div class="rooms-banner">
    <div class="container-fluid">
        <div class="featured-slider row slide-box-btn slider" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
            <div class="slide slide-box">
                <div class="banner-img">
                    <img src="~/@Model.Room?.ImgUrl1" alt="banner" class="img-fluid bp">
                </div>
            </div>
            <div class="slide slide-box">
                <div class="banner-img">
                    <img src="~/@Model.Room?.ImgUrl2" alt="banner" class="img-fluid bp">
                </div>
            </div>
            <div class="slide slide-box">
                <div class="banner-img">
                    <img src="~/@Model.Room?.ImgUrl3" alt="banner" class="img-fluid bp">
                </div>
            </div>
            <div class="slide slide-box">
                <div class="banner-img">
                    <img src="~/@Model.Room?.ImgUrl4" alt="banner" class="img-fluid bp">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Rooms banner end -->


<!-- room info heading start -->
<div class="room-info-heading">
    <div class="container">
        <div class="room-info-heading-inner">
            <div class="row g-0">
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="photo">
                        <div class="home">
                            <img class="img-fluid" src="~/@Model.Room?.ImgUrl1" alt="image">
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-8 align-self-center">
                    <div class="content">
                        <div class="for-sale">For Sale</div>
                        <h2><a href="#">@Model.Room?.RoomName</a> <span class="pull-right">$@Model.Room?.PricePerHour<small>/Ho</small></span></h2>
                        <ul class="facilities-list clearfix">

                            <li>
                                <i class="flaticon-bed"></i> Beds
                            </li>

                            @if (Model.Room.HasAirConditioning)
                            {
                                <li>
                                    <i class="flaticon-air-conditioning"></i>
                                    AC
                                </li>
                            }

                            @if (Model.Room.HasTv)
                            {
                                <li>
                                    <i class="flaticon-graph-line-screen"></i>
                                    TV
                                </li>
                            }

                            @if (Model.Room.HasGym)
                            {
                                <li>
                                    <i class="flaticon-weightlifting"></i>
                                    GYM
                                </li>
                            }

                            @if (Model.Room.HasFreeWifi)
                            {
                                <li>
                                    <i class="flaticon-wifi-connection-signal-symbol"></i>
                                    Wi-fi
                                </li>
                            }

                            @if (Model.Room.HasParking)
                            {
                                <li>
                                    <i class="flaticon-parking"></i>
                                    Parking
                                </li>
                            }
                        </ul>

                        <p><i class="fa fa-map-marker"></i> @Model.Room?.Address</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- room info heading end -->


<!-- Rooms details page start -->
<div class="content-area-17 rooms-details-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <!-- Rooms details section start -->
                <div class="rooms-detail-slider ">
                    <!-- Rooms description start -->
                    <div class="rooms-description mb-50">
                        <!-- Title -->
                        <h3>Rooms Description</h3>
                        <!-- paragraph -->
                        <p class="mb-0">@Model.Room?.Description</p>
                    </div>
                    <!-- Rooms description end -->
                    <!-- House reles start -->
                    <div class="house-rules mb-50">
                        <h3>House Rules</h3>
                        <ul>
                            <li><i class="fa fa-hand-o-right"></i> Check-in: 10:00 AM - 7:00 PM</li>
                            <li><i class="fa fa-hand-o-right"></i> Checkout: 11:00 AM</li>
                            <li><i class="fa fa-hand-o-right"></i> No smoking</li>
                            <li><i class="fa fa-hand-o-right"></i> No pets</li>
                            <li><i class="fa fa-hand-o-right"></i> No parties or events</li>
                            <li><i class="fa fa-hand-o-right"></i> Lorem ipsum dolor sit amet, conser adipiscing elit. Donec luctus</li>
                        </ul>
                    </div>
                    <!-- House reles end -->
                    <!-- Pricing plans start -->
                    <div class="pricing-table mb-50">
                        <h3>Pricing Plans</h3>
                        <table class="table-responsive pricing-wrap">
                            <thead>
                                <tr>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                    <th>Sun</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>$@Model.Room?.PricePerHour</td>
                                    <td>$@Model.Room?.PricePerHour</td>
                                    <td>$@Model.Room?.PricePerHour</td>
                                    <td>$@Model.Room?.PricePerHour</td>
                                    <td>$@Model.Room?.PricePerHour</td>
                                    <td>$@Model.Room?.PricePerHour</td>
                                    <td>$@Model.Room?.PricePerHour</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Pricing plans end -->
                    <!-- Cancellation start  -->
                    <div class="cancellation mb-50">
                        <h3>Cancellation</h3>
                        <p>
                            Phasellus volutpat neque a tellus venenatis, a euismod augue facilisis. Fusce ut metus mattis, consequat metus nec, luctus lectus. Pellentesque orci quis hendrerit sed eu dolor.
                            Cancel up to 10 days to get a full refund.
                        </p>
                    </div>
                    <!-- Cancellation end -->
                    <!-- Comments section start -->
                    <div class="comments-section">
                        <!-- Main Title 2 -->
                        <div class="main-title-2">
                            <h1>Room Reviews</h1>
                        </div>

                        <ul class="comments mb-50">
                            <li>
                                <div class="comment">
                                    <div class="comment-author">
                                        <a href="#">
                                            <img src="~/img/avatar/avatar-1.jpg" alt="avatar">
                                        </a>
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-meta">
                                            <div class="comment-meta-author">
                                                Karen Paran
                                            </div>
                                            <div class="comment-meta-reply">
                                                <a href="#">Reply</a>
                                            </div>
                                            <div class="comment-meta-date">
                                                <span>8:42 PM 3/3/2020</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="comment-body">
                                            <div class="comment-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <span>(Reting)</span>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, conser adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim, tincidunt vel turpis vel, dapibus tempus nulla. Donec vel nulla dui.</p>
                                        </div>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        <div class="comment">
                                            <div class="comment-author">
                                                <a href="#">
                                                    <img src="~/img/avatar/avatar-2.jpg" alt="avatar">
                                                </a>
                                            </div>
                                            <div class="comment-content">
                                                <div class="comment-meta">
                                                    <div class="comment-meta-author">
                                                        Paran Karen
                                                    </div>

                                                    <div class="comment-meta-reply">
                                                        <a href="#">Reply</a>
                                                    </div>

                                                    <div class="comment-meta-date">
                                                        <span>8:42 PM 3/3/2020</span>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="comment-body">
                                                    <div class="comment-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <span>(Reting)</span>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, conser adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Comments section end -->
                    <!-- Contact 2 start -->
                    <div class="contact-2 c-mb mb-50">
                        <div class="main-title-2">
                            <h1>Leave a Comment</h1>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Contact form start -->
                                <div class="contact-form">
                                    <form action="#" method="GET" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group name">
                                                    <input type="text" name="name" class="form-control" placeholder="Name" aria-label="Full Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group email">
                                                    <input type="email" name="email" class="form-control" placeholder="Email Address" aria-label="Email Address">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group subject">
                                                    <input type="text" name="subject" class="form-control" placeholder="Subject" aria-label="Subject">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group number">
                                                    <input type="text" name="phone" class="form-control" placeholder="Phone" aria-label="Phone Number">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group message">
                                                    <textarea class="form-control" name="message" placeholder="Write message" aria-label="Write message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="send-btn">
                                                    <button type="submit" class="btn-md btn-theme btn-4 btn-7">Submit Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- Contact form end -->
                            </div>
                        </div>
                    </div>
                    <!-- Contact-2 end -->
                </div>
                <!-- Course details section end -->
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <!-- Sidebar start -->
                <div class="sidebar">
                    <div class="sidebar-widget search-area-box-3 clearfix">
                        <h3>Check Availability</h3>
                        <h4 class="price">$@Model.Room?.PricePerHour/Hour</h4>
                        <div class="search-contents">


                            <form method="post" asp-action="Index" asp-area="Customer" , asp-controller="Booking">
                                <div class="search-your-details">
                                    <div class="row">
                                        
                                        <div class="col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <input asp-for="CheckInDate" class="btn-default datepicker" type="text" placeholder="Check In Date"> 
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <input asp-for="CheckOutDate" class="btn-default datepicker" type="text" placeholder="Check Out Date">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <input asp-for="SelectedRoomId" value=@Model.Room?.Id type="hidden" />
                                        </div>
                                        
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <select class="selectpicker search-fields" name="room">
                                                    <option>Room</option>
                                                    <option>Single Room</option>
                                                    <option>Double Room</option>
                                                    <option>Deluxe Room</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <select class="selectpicker search-fields" name="beds">
                                                    <option>Beds</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <select class="selectpicker search-fields" name="adults">
                                                    <option>Adult</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <select class="selectpicker search-fields" name="children">
                                                    <option>Child</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group mb-0">
                                                <button type="submit" class="btn-md btn-theme btn-4 btn-7 w-100">Book Now</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Sidebar end -->
            </div>
        </div>
    </div>
</div>
<!-- Rooms details page end -->