
@*
    Display Hotels Partial View
*@

<!-- Hotel section start -->
<div class="content-area hotel-section bg-grey">
    <div class="overlay">
        <div class="container">
            <!-- Main title -->
            <div class="main-title">
                <h1>Our Best Rooms</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
            </div>
            <div class="row wow fadeInUp delay-04s">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="hotel-box">
                        <!-- Photo thumbnail -->
                        <div class="photo-thumbnail">
                            <div class="photo">
                                <img src="~/img/room/img-3.jpg" alt="photo" class="img-fluid w-100">
                                <a href="rooms-details.html">
                                    <span class="blog-one__plus"></span>
                                </a>
                            </div>
                            <div class="pr">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </div>
                                $567.99/Night
                            </div>
                        </div>
                        <!-- Detail -->
                        <div class="detail clearfix">
                            <h3>
                                <a href="rooms-details.html">Single Room </a>
                            </h3>
                            <p class="location">
                                <a href="rooms-details.html">
                                    <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                                </a>
                            </p>
                            <div class="fecilities">
                                <ul>
                                    <li>
                                        <i class="flaticon-bed"></i> Beds
                                    </li>
                                    <li>
                                        <i class="flaticon-air-conditioning"></i>
                                        AC
                                    </li>
                                    <li>
                                        <i class="flaticon-graph-line-screen"></i>
                                        TV
                                    </li>
                                    <li>
                                        <i class="flaticon-weightlifting"></i>
                                        GYM
                                    </li>
                                    <li>
                                        <i class="flaticon-wifi-connection-signal-symbol"></i>
                                        Wi-fi
                                    </li>
                                    <li>
                                        <i class="flaticon-parking"></i>
                                        Parking
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="hotel-box">
                        <!-- Photo thumbnail -->
                        <div class="photo-thumbnail">
                            <div class="photo">
                                <img src="~/img/room/img-5.jpg" alt="photo" class="img-fluid w-100">
                                <a href="rooms-details.html">
                                    <span class="blog-one__plus"></span>
                                </a>
                            </div>
                            <div class="pr">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </div>
                                $567.99/Night
                            </div>
                        </div>
                        <!-- Detail -->
                        <div class="detail clearfix">
                            <h3>
                                <a href="rooms-details.html">Luxury Room</a>
                            </h3>
                            <p class="location">
                                <a href="rooms-details.html">
                                    <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                                </a>
                            </p>
                            <div class="fecilities">
                                <ul>
                                    <li>
                                        <i class="flaticon-bed"></i> Beds
                                    </li>
                                    <li>
                                        <i class="flaticon-air-conditioning"></i>
                                        AC
                                    </li>
                                    <li>
                                        <i class="flaticon-graph-line-screen"></i>
                                        TV
                                    </li>
                                    <li>
                                        <i class="flaticon-weightlifting"></i>
                                        GYM
                                    </li>
                                    <li>
                                        <i class="flaticon-wifi-connection-signal-symbol"></i>
                                        Wi-fi
                                    </li>
                                    <li>
                                        <i class="flaticon-parking"></i>
                                        Parking
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="hotel-box">
                        <!-- Photo thumbnail -->
                        <div class="photo-thumbnail">
                            <div class="photo">
                                <img src="~/img/room/img-6.jpg" alt="photo" class="img-fluid w-100">
                                <a href="rooms-details.html">
                                    <span class="blog-one__plus"></span>
                                </a>
                            </div>
                            <div class="pr">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </div>
                                $567.99/Night
                            </div>
                        </div>
                        <!-- Detail -->
                        <div class="detail clearfix">
                            <h3>
                                <a href="rooms-details.html">Double Room</a>
                            </h3>
                            <p class="location">
                                <a href="rooms-details.html">
                                    <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                                </a>
                            </p>
                            <div class="fecilities">
                                <ul>
                                    <li>
                                        <i class="flaticon-bed"></i> Beds
                                    </li>
                                    <li>
                                        <i class="flaticon-air-conditioning"></i>
                                        AC
                                    </li>
                                    <li>
                                        <i class="flaticon-graph-line-screen"></i>
                                        TV
                                    </li>
                                    <li>
                                        <i class="flaticon-weightlifting"></i>
                                        GYM
                                    </li>
                                    <li>
                                        <i class="flaticon-wifi-connection-signal-symbol"></i>
                                        Wi-fi
                                    </li>
                                    <li>
                                        <i class="flaticon-parking"></i>
                                        Parking
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hotel section end -->