@{
    ViewData["Title"] = "Home Page";
}


<!-- Banner start -->
<div class="banner" id="banner-2">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item item active">
                <img class="d-block w-100 h-100" src="~/img/banner/img-3.jpg" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100">
                    <div class="carousel-content container align-self-center">
                        <div class="row bti-section">
                            <div class="col-lg-7 col-md-12 align-self-center">
                                <div class="banner-test-info wow fadeInLeft delay-04s">
                                    <h2>Welcome To Hotel Alpha</h2>
                                    <p>Lorem ipsum dolor sit amet, conconsectetuer adipiscing elit Lorem ipsum dolor sit amet, conconsectetuer</p>
                                    <a class="btn-lg btn-4 btn-6" href="#">Get Started Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- About hotel alpha start -->
<div class="about-hotel-alpha content-area-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 wow fadeInLeft delay-04s">
                <div class="about-img-section">
                    <div class="image-box">
                        <div class="image-1"><img src="~/img/about/img-4.jpg" class="rounded" alt="photo"></div>
                        <div class="image-2"><img src="~/img/about/img-5.jpg" class="rounded" alt="photo"></div>
                    </div>
                    <div class="about-box-Experience">
                        <h3 class="text-white">38</h3>
                        <p class="mb-0 text-white">Years of Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 wow fadeInRight delay-04s align-self-center">
                <div class="about-content-section">
                    <h5>Hotel <span>Bayview</span></h5>
                    <h1>Welcome To Hotel Alpha</h1>
                    <ul class="network-list mb-40">
                        <li>
                            <i class="icon fa fa-building-o"></i>
                            <h4>Compact and Comfortable Rooms</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed magna aliqua.eius to mod incididunt</p>
                        </li>
                        <li>
                            <i class="icon flaticon-room-service"></i>
                            <h4>Friendly Fair Prices and Service</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed magna aliqua.eius to mod incididunt</p>
                        </li>
                        <li>
                            <i class="icon flaticon-school-call-phone-reception"></i>
                            <h4>Public Safety and 24/7 Security</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed magna aliqua.eius to mod incididunt</p>
                        </li>
                    </ul>
                    <a class="btn-lg btn-5" href="#"><span>Explore More</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About hotel alpha end -->

@* @await Html.PartialAsync("DisplayHotels"); *@
<partial name="DisplayHotels" />

<!-- Hotel Statistic start -->
<div class="counters-4">
    <div class="container">
        <div class="row">
            <div class="left align-self-center wow fadeInLeft delay-04s">
                <!-- Main title -->
                <div class="main-title main-title-4">
                    <h1>Hotel Statistics</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                </div>
            </div>
            <div class="right float-end wow fadeInRight delay-04s">
                <div class="counter-inner">
                    <div class="counter-box blue ml-0">
                        <h1 class="counter">1963</h1>
                        <h5>Guest Stay</h5>
                    </div>
                    <div class="counter-box">
                        <h1 class="counter">1854</h1>
                        <h5>Book Room</h5>
                    </div>
                    <div class="counter-box green">
                        <h1 class="counter">1823</h1>
                        <h5>Member Stay</h5>
                    </div>
                    <div class="counter-box cgreen">
                        <h1 class="counter">1756</h1>
                        <h5>Meals Served</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hotel Statistic end -->

@await Html.PartialAsync("DisplayBlogs");